@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
    background: #1a1a1a;
    color: wheat;
}

h1 {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    margin: 30px;
}

.row {
    color: whitesmoke;
    text-align: center;
    font-family: 'Lato', sans-serif;

}

.row a {
    color: white;
}


input[type=text] {
    width: 50%;
    padding: 15px 22px;
    margin: 10px 5px;
    box-sizing: border-box;
    font-size:24px;
    font-family: 'Roboto Mono', monospace;

}

input[type=button] {
    width: 15%;
    padding: 15px 22px;
    margin: 10px 5px;
    box-sizing: border-box;
    font-size:24px;
    font-family: 'Roboto Mono', monospace;
}

.result {
    font-size: 240px;
    font-family: 'Libre Barcode 128 Text', cursive;
    /*font-family: 'Black Ops One', cursive;*/
}
